
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/109669/pexels-photo-109669.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
  <div class="container">
    <h1> All list </h1>
    <p>Save any kind of movies</p>
  </div>
</div>


<div class="d-flex m-3 justify-content-center">
  <% @lists.each do |list| %>
    <div class="d-flex align-items-center">
      <%= link_to list_path(list[:id]), method: :delete, class:"mr-2"  do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
      <div class="card-product mr-3">
        <!-- <img src="https://images.pexels.com/photos/2747893/pexels-photo-2747893.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" /> -->
        <% if list.photo.attached? %>
          <%= cl_image_tag list.photo.key, height: 150, width: 200, crop: :fill %>
        <% end %>
        <div class="card-product-infos">
          <h3> <%= link_to list.name, list_path(list.id) %> </h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
