<div class="container mt-3">
  <h1> Create new list </h1>
  <h3 class="mt-4"> Choose a name and picture to create a new list </h3>
  <%= simple_form_for @list do |f|%>
    <div class="border border-primary rounded p-3">
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    </div>
    <%= f.submit 'Create new list', class:'btn btn-primary mt-2' %>
  <% end %>
</div>

